<title><%= content_for?(:title) ? yield(:title) : "Ларгус" %></title>

<script>
$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({

      autoPlay: 5000,
      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });
 
});

</script>



<div class="container">
  <div class="row">
    <div class="span-12">
      <div class="row">
        <div class="col-lg-3">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Информация</h3>
            </div>
          <div class="panel-body">
            <h4><i class="icon-chevron-right"></i> Ларгус</h4>
            <h4><i class="icon-chevron-right"></i> От 330 000</h4>
            <h4><i class="icon-chevron-right"></i><a href="#overview"> Комплектация </a></h4>
          </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item"><img src="../assets/Largus-1.jpg" alt="1"></div>
            <div class="item"><img src="../assets/Largus-2.jpg" alt="2"></div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Контакты</h3>
            </div>

            <div class="panel-body">
              <h4>+7 (967) 483-31-44</h4>
              <h4>TlTLadaMir@yandex.ru</h4>
              <h4>Тольятти, Обводное шоссе 3,б</h4>
            </div>

            <div class="panel-footer">
              <h5>Звоните (пн-вс) с 8 до 17;00.</h5>
              <h5>Приезжайте в будни (пн-пт) с 8;00 до 17;00,Выходные с 8;00 до 16;00</h5>
            </div>
          </div>
        </div>

      </div>

      <section id="overview">
      <div class="page-header"></div>
      <div class="row">

      <div class="text1">
        <h1><strong> КОМПЛЕКТАЦИЯ </strong></h1>
      </div>

        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2><strong> Стандарт 5-ти местный </strong></h2>
            </div>
            <div class="panel-footer">
              <h4><i class="icon-ok"></i>  Универсал 5 мест </h4>
              <h4><i class="icon-ok"></i>  6 дв., двиг. K7M, 1,6л. </h4>
              <h4><i class="icon-ok"></i>  8 кл., стандарт: 1ПБ, ШД R15 </h4>
              <h4><i class="icon-ok"></i>  аудиоподготовка, теплопоглащающие стекла </h4>
              <h4><i class="icon-ok"></i>  система крепления детских сидений "ISOFIKS" </h4>
              <h4><i class="icon-ok"></i> обивка дверей пластик. </h4>
            </div>
        </div>
        </div>

        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
               <h2><strong> Норма 5-ти местный </strong></h2>
            </div>
            <div class="panel-footer">
              <h4><i class="icon-ok"></i>  Универсал 5 мест </h4>
              <h4><i class="icon-ok"></i>  6 дв. дв. К7М 1,6л, 8 кл </h4>
              <h4><i class="icon-ok"></i>  Норма: ЦЗ, ГУР, 1ПБ, ТОН, 2СП, ШД R15. ABS </h4>
              <h4><i class="icon-ok"></i>  аудиподготовка, бампер окрашен в цвет кузова </h4>
              <h4><i class="icon-ok"></i>  молдинги дверей, система ISOFIX </h4>
              <h4><i class="icon-ok"></i>  колпаки колес декоративные. </h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
               <h2><strong> Люкс 5-ти местный </strong></h2>
            </div>
            <div class="panel-footer">
              <h4><i class="icon-ok"></i>  Универсал 5 мест </h4>
              <h4><i class="icon-ok"></i>  6 дв, дв.K4M 1,6л.16 кл..люкс </h4>
              <h4><i class="icon-ok"></i>  ЦЗ с ДУ, 4СП, ГУР, 2ПБ, ПС </h4>
              <h4><i class="icon-ok"></i>  борт. компьют. с диспл.на комб. приборов </h4>
              <h4><i class="icon-ok"></i>  ТОН, эл.привод и обогр.наружн.зеркал, ПФ </h4>
              <h4><i class="icon-ok"></i>  ШД R15, кондиционер, ABS, аудио (4 дин.) </h4>
              <h4><i class="icon-ok"></i>  сист.ISOFIX, колпаки колес декоративн. </h4>
            </div>
          </div>   
        </div>




        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2><strong> Стандарт Фургон </strong></h2>
            </div>
            <div class="panel-footer">
              <h4><i class="icon-ok"></i>  Фургон, дв. К7М, 1,6л </h4>
              <h4><i class="icon-ok"></i>  8 кл, стандарт: 1ПБ, ШД R15 </h4>
              <h4><i class="icon-ok"></i>  аудиоподготовка </h4>
              <h4><i class="icon-ok"></i>  обивка сидений - стандарт </h4>
              <h4><i class="icon-ok"></i>  обивка дверей пластик </h4>
              <h4><i class="icon-ok"></i>  плафон освещения багажн. отделения </h4>
            </div>
        </div>
        </div>

        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
               <h2><strong> Норма 7-ти местный </strong></h2>
            </div>
            <div class="panel-footer">
              <h4><i class="icon-ok"></i>  Универсал 7 мест </h4>
              <h4><i class="icon-ok"></i>  6 дв. дв. К7М 1,6л, 8 кл, Норма: ГУР </h4>
              <h4><i class="icon-ok"></i>  2ПБ, ТОН, ЦЗ, 2СП, ШД R15.кондиционер </h4>
              <h4><i class="icon-ok"></i>  ABS, аудиосистема (2 динамика) </h4>
              <h4><i class="icon-ok"></i>  бампер окрашен в цвет кузова </h4>
              <h4><i class="icon-ok"></i>  система ISOFIX, молдинги. </h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
               <h2><strong> Люкс 7-ти местный </strong></h2>
            </div>
            <div class="panel-footer">
              <h4><i class="icon-ok"></i>  Универсал 7 мест </h4>
              <h4><i class="icon-ok"></i>  6 дв., двиг. K4M 1,6л. 16 кл. люкс </h4>
              <h4><i class="icon-ok"></i>  ЦЗ с ДУ, 4СП, ГУР, 2ПБ, ПС </h4>
              <h4><i class="icon-ok"></i>  борт. компьют. с диспл.на комб. приборов </h4>
              <h4><i class="icon-ok"></i>  ТОН, эл.привод и обогр.наружн.зеркал, ПФ </h4>
              <h4><i class="icon-ok"></i>  ЛД R15, кондиционер, ABS, аудиосистема (4 динамика). </h4>
            </div>
          </div>   
        </div>

      </div>
      </section>
      </div>
    </div>
  </div>